<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.layout == 'post' %}
    {% assign meta_title = page.title %}
    {% assign meta_author = page.author | default: site.author %}
    {% assign meta_description = page.excerpt | strip_html | truncatewords: 75 %}
    {% assign meta_url = site.url | append: site.baseurl | append: page.url %}
    {% assign meta_image = page.image | default: site.image %}
    {% assign meta_type = 'article' %}
    {% endif %}
    {% unless meta_image contains '://' %}
    {% assign meta_image = meta_image | prepend: site.url %}
    {% endunless %}
    <title>{{ meta_title }}</title>
    <meta name="title" content="{{ meta_title }}" />
    <meta name="author" content="{{ meta_author }}"/>
    <meta name="description" content="{{ meta_description }}"/>
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:type" content="{{ meta_type }}"/>
    <meta property="og:title" content="{{ meta_title }}"/>
    <meta property="og:description" content="{{ meta_description }}"/>
    <meta property="og:url" content="{{ meta_url }}"/>
    <meta property="og:image" content="{{ meta_image }}"/>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "
    /feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <link href="{{ site.asset_url }}/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>

    <!--Style Setting-->
    <link href="{{ site.asset_url }}/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="{{ site.asset_url }}/css/monokai.css" rel="stylesheet" type="text/css">
    <link href="{{ site.asset_url }}/css/main-style.css" rel="stylesheet" type="text/css">
    <link href="{{ site.asset_url }}/fonts/Kakao.css" rel="stylesheet" type="text/css">
</head>
